<%- include("partials/header") -%>
    <h1>
        Page not found !!!</h1>
    <p>The page your are requesting does not exist. Please check your typo or click Home to return to home-page</p>

    <%- include("partials/footer") -%>